  /*font-family: 'Barlow', sans-serif;*/
  
  body {
    font-family: 'Barlow', sans-serif;
  }
  
  .logoDev {
    display: flex;
    position: relative;
    display: block;
    width: 30%;
    height: 90%;
    margin-right: 30px;
    object-fit: contain;
    justify-content:start;
    align-items: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url('../assets/myPortfolio.png');
  }

  header {
    display: flex;
    background-color: #fff;
    height: 100px;  
    justify-content: center;
  }

  .bHome, .bNosotros, 
  .bTienda, .bPromociones, 
  .bContacto {
    font-family: 'Barlow', sans-serif;
    font-weight: 700; 
    font-size: 18px;
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;
    height: 50px;
    width: 150px;
    border: none;
  }

  

  footer {
    display: flex;
    background-color: #1F5273;
    height: 200px;
    justify-content: center;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container {
    width: 90%;
  }


  .bar {
    display: flex;
    padding: 10px;
    width: 60%;
    align-items: center;
    align-content: center;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-style: solid;
    border-color: #1F5273;
    border-width: 1px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 1.5%;
    flex: auto;
    max-height: 500px;
    max-width: 430px;
    padding: 10px;
}

.card-body-img{
  display: flex;
  overflow: hidden;
  height: 300px;
  background-color: #fff;
}

.poster {
  width: auto;
  height: auto;
}

.card-body-text {
  display: flex;
  height: 160px;
  width: 100%;
  flex-direction: column;
  background-color: #1F5273;
}

.card-title {
  font-size: 17px;
  margin: 5px;
}

.card-body-text span {
  font-size: 14px;
  margin-left: 5px;
}

.button-info {
  display: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: auto;
  border-radius: 4px;
  border: 0px;
  width: 130px;
  transition: background-color .1s;
}

.button:hover {
  background-color: rgb(204, 204, 204);
}
