  /*font-family: 'Barlow', sans-serif;*/
  
  body {
    font-family: 'Barlow', sans-serif;
  }

  header {
    display: flex;
    background-color: #fff;
    height: 100px;  
    justify-content: center;
  }

  .logoDev {
    display: flex;
    position: relative;
    display: block;
    width: 100px;
    height: 90px;
    object-fit: contain;
    align-items: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    margin: 0;
    background-image: url('../assets/firstLogo.PNG');
  
  }

  .bar {
    display: flex;
    padding: 10px;
    width: 60%;
    align-items: center;
    align-content: center;
    pointer-events: all;
    cursor: pointer;
  }


  .bHome, .bNosotros, 
  .bTienda, .bPromociones, 
  .bContacto {
    font-family: 'Barlow', sans-serif;
    font-weight: 700; 
    font-size: 18px;
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;
    height: 50px;
    width: 150px;
    border: none;
  }

  .bHome:hover, .bNosotros:hover, .bTienda:hover, .bPromociones:hover, .bContacto:hover {
    background-color: #C91959;
    color: #fff;
  }

  .tituloProduct {
    font-family: 'Merriweather', serif;
    font-weight: 500; 
    font-size: 20px;
    margin-left: 10px;
  }

  .mainPicture {
    display: flex;
    position: relative;
    display: block;
    width: 55%;
    height: 350px;
    object-fit: contain;
    align-items: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url('../assets/tienda_products3.jpg');
  }
  
  .bienvenida {
    flex-direction: column;
    width: 75%;
    margin-top: 40px;
    height: 500px;
    align-items: left;
    /*background-color: aqua;*/
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px;
    /*background-color: green;*/
  }

  .mainSlogan {
    display: flex;
    padding: 10px;
  }

  .sloganText {
    font-family: 'Merriweather', serif;
    font-weight: 600; 
    font-size: 60px;
    width: 65%;
    height: 100px;
    margin: 0;
  }
  
  .cardProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-top: 20px;
    /*background-color: aqua;*/
  }

  .contProducts {
    display: flex;
    width: 75%;
    flex-direction: column;
    /*background-color: red;*/
  }

  .card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-style: solid;
    border-color: #C91959;
    border-width: 1.5px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 3.5%;
    flex: auto;
    max-height: 400px;
    max-width: 500px;
    padding: 10px;
    border-radius: 20px;
  }


  .primerPoster {
    display: flex;
    background-image: url('../assets/tienda_products.jpg');
    object-fit: contain;
    align-items: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
  }

  .card-products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    display: flex;
    align-items: center;
    background-color: #C91959;
    height: 300px;
    justify-content: center;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 300px;
    justify-content: center;
    /*background-color: #C91959;*/
  }

  .row {
    display: flex;
    align-items: center;  
    flex-direction: row;
    width: 80%;
    /*background-color: red;*/
  }

  .footerTitle {
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 25px;
  }
  
  .col-md-6, .col-md-12 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }

  .col-md-12 {
    display: flex;
    align-items: center;
  }

  .footerDes {
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 15px;
  }



